@import "tailwindcss";

@theme {
  --breakpoint-xxl: 90rem;
}

body {
  background-color: #f7f8fa;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: #1d1e21;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  h2 {
    font-size: 40px;
    line-height: 120%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  h2 {
    font-size: 48px;
    line-height: 115%;
  }
}

.green {
  background-color: #59b17a;
}
